on:
  push:
    branches:
      - main
      - develop

env:
  NODE_VERSION: '14.x' # set this to the node version to use
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: wagoid/commitlint-github-action@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: yarn
        run: yarn

      - name: Check Lint
        run: yarn eslint

      - name: Check commit message
        run: wagoid/commitlint-github-action@v2
